body{
  margin:0; padding:0; background:#000; color:#fff; font-family:Arial; overflow-x:hidden;
}
#main-content{ opacity:0; transition:opacity 1s ease; }

h1,h2{ margin-bottom:20px; }
footer{ padding:20px; background:#111; text-align:center; }
